@font-face{
    font-family: 'Akronim';
    src: url('../fonts/Akronim-Regular.ttf');
}
@font-face{
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf');
}
@font-face{
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

