div{
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 5px;
    border: 10px solid black;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50%;
}
div:nth-child(1){
    background-image: url("../images/punto.png");
    background-position: top left; 
}
div:nth-child(2){
    background-image: url("../images/punto.png"),url("../images/punto.png");
    background-position: top left,bottom right;
}
div:nth-child(3){
    background-image: url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png");
    background-position: top left,bottom right,center center;  
}
div:nth-child(4){
    background-image: url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png");
    background-position: top left,bottom right,top right,bottom left;  
}
div:nth-child(5){
    background-image: url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png");
    background-position: top left,bottom right,center center,top right, bottom left;  
}
div:nth-child(6){
    background-image: url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png"),url("../images/punto.png");
    background-position: top left,bottom right,center right,center left, top right, bottom left;  
}

