* {
    font-family: cursive;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a{
   color: black;
   text-decoration: none;
}
.header h1{
    text-align: center;
}
h2{
    color: #990000;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.topmenu{
    background-color: grey;
    padding: 30px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}
.topmenu li{
    display: inline-block;
}
.topmenu li a{
    padding: 10px 15px;
}
.topmenu active{
    text-decoration: underline red;
    text-underline-offset: 20%;    
}
.clearfix{
    clear: both;
}
main{
    margin-bottom: 30px;
}
main .column{
    float:left;
}
.content .header{
    color: #990000;
    border: 3px solid #990000;
    text-transform: capitalize;
    margin-top: 16px;
}
.colum.sidemenu{
    width: 30%;
}
.sidemenu li{
    margin-bottom: 5px;
    background-color: #808080;
    padding: 10px;
    margin-right: 20px;
}
.sidemenu li a{
    color: white;
}
.content{
    width: 70%;
    margin-bottom: 60px;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: grey;
    text-align: center;
}
footer p{
    padding-bottom: 10px;
}
p{
    margin: 0px;
}




